.feature-container{
    /* margin-top: 20px;
    margin-bottom: 20px; */
    /* height: 50px; */
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature-icon{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-description{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}