.aboutContainer{ 
    background-color: #f5f5f5;
    padding: 60px;
}

.text-column{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

.text-column h6{
    margin-top: 50px;
    text-decoration: underline;
}

.motocross-image{
    padding-bottom: 10px;
    margin-top: 10px;
}