.aboutContainer{ 
    background-color: #f5f5f5;
    padding: 60px;
    background: radial-gradient(circle, transparent 20%, #f5f5f5 20%, #f5f5f5 80%, transparent 80%, transparent) 0% 0% / 64px 64px, radial-gradient(circle, transparent 20%, #f5f5f5 20%, #f5f5f5 80%, transparent 80%, transparent) 32px 32px / 64px 64px, linear-gradient(#000000 2.5px, transparent 2.5px) 0px -1.25px / 32px 32px, linear-gradient(90deg, #000000 2.5px, #f5f5f5 2.5px) -1.25px 0px / 32px 32px #f5f5f5;
    background-size: 64px 64px, 64px 64px, 32px 32px, 32px 32px;
}

.text-column{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border: #1d1d1d;
    border-style: solid;
    border-radius: 5px;
    border-width: 2.5px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

.text-column h6{
    margin-top: 50px;
    text-decoration: underline;
}

.motocross-image{
    padding-bottom: 10px;
    margin-top: 10px;
}