.footer-container {
    /* margin-top: 100px; */
    padding-top: 50px;
    background-color: #FF5733;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}

.column{
    margin-top: 20px;
    padding: 20px;
}

.copyright {
    color: white;
    text-align: center;
    margin-top: 40px;
}

.footer-container h4 {
    color: white;
    text-decoration: underline;
}

.column li{
    list-style-type: none;
    color: white;
}

.column a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}