
.date-container{
    /* display: flex; */
    width: 100%;
}

/* .col-md-4{
    justify-content: space-between;
    width: 90%;
} */

.form-control{
    margin-right: 10px;
    display: block;
    /* width: 100%; */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bike-details{
    display: flex;
    justify-content: space-around;
}

.bike-detail{
    display: flex;
    width: 100%;
    justify-content: center;
}

.bike-detail img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.bike-image{
    display: flex;
    justify-content: center;
}

.bike-image img{
    height: 200px;
}

.total-cost{
    margin-top: 10px;
}

.booking-confirmation{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.confirmed-message{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}